<div class="step-by-step">
  <div class="step-row">
    <div class="step-item">
      <%= link_to Settings.step_1, "javascript:void(0)",
        class: "btn btn-default btn-circle btn-step-1 previous active", disabled: true %>
      <p><%= step %></p>
    </div>
    <div class="step-item">
      <%= link_to Settings.step_2, "javascript:void(0)",
        class: "btn btn-default btn-circle btn-step-2 next", disabled: true %>
      <p><%= t ".survey" %></p>
    </div>
  </div>
</div>
