@import 'color';

.error {
 color: red;
}
.error-message {
  text-transform: capitalize;
  color: red;
 }
.not_found_apply{
  text-align: center;
  color: red;
  font-size: 1.2em;
}
.tbl-user-member {
  overflow: auto;
}
.tbl-user-member thead{
  background-color: white;
}
.nested-fields {
  margin-bottom: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.not-active {
  pointer-events: none;
  cursor: default;
}

.text-template {
  line-height: 28px;
}

.view-template {
  border: 1px solid $gray-light-3 !important;
  overflow: auto;
}

.img-avatar {
  width: 50%;
  height: 50%;
}

.social-title{
  width: 50%;
}

.pdf-content {
  width: 100%;
  min-height: 750px;
}

.btn-close {
  margin-left: 5px;
}

.select-box-apply-template {
  padding-top: 5px;
}

.calendar-content-apply {
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-info {
  background-color: $blue-light-11 !important;
}

.well {
  background-color: $white;
}

.send_email_form {
  margin-bottom: 0px;
}

.send-mail-custom {
  margin-left: 20px;
}

.d-inline-block {
  display: inline-block;
}

.w125 {
  width: 125px;
}

.h524 {
  min-height: 524px;
}

.w55 {
  width: 55px;
}

.h440 {
  min-height: 440px;
}

form.form-search {
  width: 550px;
  position: relative;
  top: 10px;
}

.area-progress {
  overflow: auto;
}

.btn-handling {
  margin-bottom: 10px;
}

.btn-apply {
  padding: 0;
}

.btn-apply-submit {
  display: none;
}

.area-cv embed {
  width: 100%;
  height: 100%;
  border: 1px solid $dark-gray-light-1;
}

.timeline-list:after {
  left: 220px;
}

.timeline-list .timeline-icon {
  left: 206px;
}

.timeline-list .timeline-content {
  margin-left: 260px;
}

.timeline-list .timeline-time {
  width: 160px;
  margin-left: 15px;
  font-size: 12px;
  color: $dark-gray-light;
}

.timeline-header {
  font-size: 15px;
}

.not_selected {
  background: $red-light2 !important;
  border-color: $red-light2 !important;
}

.pending {
  background: $yellow-light !important;
  border-color: $yellow-light !important;
}

.accepted {
  background: $green-light-2 !important;
  border-color: $green-light-2 !important;
}

.scheduled {
  background: $blue-light-14 !important;
  border-color: $blue-light-14 !important;
}

.font-weight-normal {
  font-weight: normal;
  font-style: italic;
}

.font-size-10 {
  font-size: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.w60 {
  width: 60px;
}

.new_apply_status {
  overflow: auto !important;
}

.content-media .media-body {
  overflow: auto!important;
  width: 100%;
  height: 100%;
}

.block {
  overflow: auto;
}

.content-form-apply {
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.history-apply-status {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.content-form-apply {
  border-bottom: 1px solid $dark-gray-light-1;
  padding-bottom: 5px;
}

.content-form-apply .block {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.content-form-apply .block-title {
  background-color: $white;
}

.form-group-submit {
  overflow: auto;
}

.apply-content {
  margin-bottom: 20px;
}

.sender-avatar {
  width: 64px;
  height: 64px;
}

.b-top-outset {
  border-top: outset;
}

label {
  padding-left: 1px !important;
  color: $black !important;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.m-top-20 {
  margin-top: 20px !important;
}

.h-40 {
  height: 40px;
}

.m-10 {
  margin: 10px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-i-top-20 {
  margin-top: -20px;
}

.m-bottom-5 {
  margin-bottom: 5px;
}
.cancel-form {
  margin-left: 5px;
}

.b-top-outset {
  border-top: outset;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.h-73 {
  height: 73px;
}

.overcast-div {
  position:relative;
}

.overcast-div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-light1;
  opacity: 0.5;
}

.l-5 {
  margin-left: 5px;
}

.custom-checkbox {
  > input[type='checkbox'] {
    display: none;
  }
  > span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.7px;
    position: relative;
    > label {
      cursor: pointer;
    }
    &::before {
      border: 1px solid $blue-light-7;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      height: 13px;
      left: -18px;
      line-height: 12px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 13px;
    }
  }
  > input[type='checkbox']:empty + span::before {
    background-color: transparent;
    content: '';
  }

  > input[type='checkbox']:checked + span::before {
    background-color: $blue-light-7;
    content: '✔';
  }
}

.m-l-15 {
  margin-left: 15px;
}

.display-none {
  display: none;
}

.m-top-30 {
  margin-top: 30px !important;
}

.m-top-15 {
  margin-top: 15px;
}

.m-l-5 {
  margin-left: 5px;
}

.w-150 {
  width: 150px;
}

.detail-content {
  font-size: 12px;
  font-weight: normal;
  text-align: justify;
}

.fc-past {
  background-color: $grey-light1;
}

.navbar-form {
    margin: 7px 0;
}

.collapsing .navbar-form,
.collapse.in .navbar-form {
    margin-left: -15px;
    margin-right: -15px;
}

.collapsing .navbar-form .form-group,
.collapse.in .navbar-form .form-group {
    margin-bottom: 0;
}

.navbar-form-custom {
    padding: 0;
    width: 495px;
    float: left;
    height: 50px;
}

a.disabled {
  pointer-events: none;
}

.m-top-10-minus {
  margin-top: -10px;
}

.break {
  word-break: break-all;
}

.cv-content iframe {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.h-569 {
  min-height: 569px;
}

.w-90 {
  width: 90px;
}

.job-header-info {
  .time_ago {
    color: $gray-medium-1;
  }
}

.job-site-section-top {
  height: 84px;
  padding-top: 0px;
}

.job_requirement {
  li {
    padding: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
  }
  ul {
    padding-left: 0px;
  }
  i {
    margin-right: 5px;
  }
}

.job_content {
  p {
    white-space: pre-line;
    font-size: 15px
  }

  .list:before {
    content: "- ";
    text-indent: -5px;
  }
}

.page-job-detail {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
}

.page-job-detail.page-job-detail_no-background .page-background {
  background-image: linear-gradient(-180deg, $light-blue-1 2%, $light-blue-2 100%);
  height: 160px;
}

.page-job-detail .page-background {
  height: 238px;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-position: top center;
  background-size: cover;
}
.page-job-detail .page-background2 {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-position: top center;
  background-size: cover;
}

.page-job-detail.page-job-detail_no-background .page-background2 {
  background-color: $grey-light1;
  margin-top: 200px;
  height: 80%;
  z-index: 0;
}

.page-job-detail.page-job-detail_no-background .page-job-detail__header {
  margin-top: 130px;
}

.page-job-detail__detail .tab-pane-job-info .tab-sidebar {
  left: 70%;
}

.page-job-detail__detail .tab-sidebar {
  width: 30%;
}

.page-job-detail__detail .box-summary {
  border: 1px solid rgba(0, 185, 242, 0.5);
  padding: 23px;
  background-color: $blue-super-light;
  border-radius: 3px;
}

.page-job-detail__detail .tab-pane-job-info .tab-main-content {
  right: 30%;
}

.page-job-detail__detail .tab-main-content {
  width: 70%;
  padding-right: 40px;
}

.page-job-detail__header .logo-wrapper {
  height: auto;
  width: 100%;
  display: inline-block;
  position: relative;
  img {
    max-height: 105px;
  }
}

.page-job-detail__detail h2 {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 12px;
  margin-bottom: 17px;
  border-bottom: 2px solid rgba(206, 211, 213, 0.5);
}

.page-job-detail__detail .nav-tabs li a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: 13px;
  border: 0;
  line-height: 17px;
  padding: 12px 35px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: $grey-light1;
  color: $gray-dark-hard-2
}

.page-job-detail__detail .presentation .nav>li.active {
  background-color: $gray-light-1
}

.page-job-detail__detail .box-summary .summary-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(206, 211, 213, 0.5);
}

.box-summary .summary-content .content-label {
  text-transform: uppercase;
  color: $gray-medium-1;
  display: block;
  font-weight: 300;
  font-size: 13px;
}

.page-job-detail__header .job-title {
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 8px;
  font-family: Roboto, Arial, sans-serif;
}

.summary-icon {
  i {
    font-size: 30px;
  }
}

.page-job-detail__header .company-name {
  text-transform: uppercase;
  display: inline;
}

.col-btn {
  display: flex;
  align-items: center;
}

.job-apply-btn {
  .post-job {
    margin-left: 16px;
    margin-bottom: 10px;
    width: 183px;
    background-color: $orange-light;
    border-color: $orange-light;
    color: $white;
    font-size: 20px;
    left: 10px;
  }
  .lock{
    background: $white;
    font-size: 16px;
    color: $light-yellow;
    margin-top: 10px;
  }
  .post-job:focus, .btn-primary:hover, .post-job:active, .post-job.active, .open .post-job.dropdown-toggle {
    background-color: $orange-medium;
    border-color: $orange-dark;
    color: $white;
  }
}
.label-applied{
  width: 170px;
  background-color: $white;
  border-color: $orange-light;
  color: $orange-light;
  font-size: 20px;
  left: 10px;
}
.salary {
  .text-primary {
    color: $orange-light;
    font-size: 25px;
  }
}
.banner-top {
  img {
    width: 100%;
  }
}
.m-t-22 {
  margin-top: 22px !important;
}
.h-150 {
  min-height: 150px;
}
.p-10 {
  padding: 10px;
}
.background-white {
  background-color: $white !important;
}
td.font-times {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.w-175 {
  width: 175px;
}
.border-bottom-custom {
  border-bottom: 1px solid $grey-light2;
  border-top: none !important;
}
.chil-margin-0 p {
  margin-bottom: 0;
}

.float-r {
  float: right;
}

.p-0 {
  padding: 0;
}
