<tr class="background-white">
  <td class="border-bottom-custom">
    <strong><%= check_show_job_exception apply.job %></strong>
  </td>
  <td class="border-bottom-custom">
    <%= get_link_job_exception apply %>
  </td>
</tr>
