@import 'color';

.modal-create-form {
  padding-bottom: 0px !important;
}

.btn-close-apply {
  position: relative;
  bottom: 30px;
  margin-left: 5px !important;
}

.title-modal {
  font-weight: bold;
}


.avatar {
  width: 200px;
  height: 200px;
}

.table-user-information {
  min-width: 445px;
  min-height: 149px;
  margin-bottom: 0 !important;
}

.site-section-top {
  padding-top: 35px !important;
}

.no-border {
  border-top: 0px !important;
}

.border-dashed {
  border-top: 1px dashed $gray-light-1 !important;
  border-bottom: 1px dashed $gray-light-1 !important;
}

strong.control-label {
  font-family: "Times New Roman", Times, serif;
  font-size: 13.7px;
}

label.control-label {
  font-family: "Times New Roman", Times, serif;
  font-size: 13.7px;
}

@media only screen and (min-width: 995px) {
  .right-60 {
    position: relative;
    right: 60px;
  }
}
